@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}


/* .App-logo {
  height: 20vmin;

} */

/*658 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
} */

.navCont{
   min-height:100vh;
   background-color: #051922cc;
   /* fill-opacity: 2px; */
   background-image: url("./image/hero-bg.jpg");
   background-position: center;
   background-size: cover;
}

.promo{
  min-height:50vh;
  background-image: url('./image/hero-bg-3.jpg');
}

.fruit{
  background-image: url("./image/abt.png");
  background-position:center;
   background-size:cover;
   /* background-attachment: fixed; */
   background-position: center top;
   height: 350px;
  
   
}

.general{
  background-image: url('./image/breadcrumb-bg.jpg');
  background-position: center;
  background-position: center bottom;
   background-size:cover;
   height: 500px;
}



.December{
  min-height:30vh;
  width: 100%;
  background-image: url('./image/1.jpg');
   background-position:center;
   /* background-size:; */
   background-position: left  top;

}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
